# Lab 4: More Table Organization and Randomization

Welcome to Lab 4! This week, we will go over more table organizing techniques, conditionals and iteration, and introduce the concept of randomness. All of this material is covered in [Chapter 8](https://www.inferentialthinking.com/chapters/08/Functions_and_Tables.html) and [Chapter 9](https://www.inferentialthinking.com/chapters/09/Randomness.html) of the textbook. This lab is due **Friday (10/25) at 11:59pm**


First, set up the tests and imports by running the cell below.

In [ ]:
import numpy as np
from datascience import *

# These lines load the tests. 
from client.api.notebook import Notebook
ok = Notebook('lab04.ok')
_ = ok.auth(inline=True)

## 1. Nachos and Conditionals

In Python, Boolean values can either be `True` or `False`. We get Boolean values when using comparison operators, among which are `<` (less than), `>` (greater than), and `==` (equal to). For a complete list, refer to [Booleans and Comparison](https://www.inferentialthinking.com/chapters/09/Randomness.html#Booleans-and-Comparison) at the start of Chapter 8.

Run the cell below to see an example of a comparison operator in action.

In [ ]:
3 > 1 + 1

We can even assign the result of a comparison operation to a variable.

In [ ]:
result = 10 / 2 == 5
result

Arrays are compatible with comparison operators. The output is an array of boolean values.

In [ ]:
make_array(1, 5, 7, 8, 3, -1) > 3

Waiting on the dining table just for you is a hot bowl of nachos! Let's say that whenever you take a nacho, it will have cheese, salsa, both, or neither (just a plain tortilla chip). 

Using the function call `np.random.choice(array_name)`, let's simulate taking nachos from the bowl at random. Start by running the cell below several times, and observe how the results change.

In [ ]:
nachos = make_array('cheese', 'salsa', 'both', 'neither')
np.random.choice(nachos)

**Question 1.** Assume we took ten nachos at random, and stored the results in an array called `ten_nachos`. Find the number of nachos with only cheese using code (do not hardcode the answer).  

*Hint:* Our solution involves a comparison operator and the `np.count_nonzero` method.

In [ ]:
ten_nachos = make_array('neither', 'cheese', 'both', 'both', 'cheese', 'salsa', 'both', 'neither', 'cheese', 'both')
number_cheese = ...
number_cheese

In [ ]:
_ = ok.grade('q1_1')

**Conditional Statements**

A conditional statement is made up of multiple lines of code that allow Python to choose from different alternatives based on whether some condition is true.

Here is a basic example.

```
def sign(x):
    if x > 0:
        return 'Positive'
```

How the function works is if the input `x` is greater than `0`, we get the string `'Positive'` back.

If we want to test multiple conditions at once, we use the following general format.

```
if <if expression>:
    <if body>
elif <elif expression 0>:
    <elif body 0>
elif <elif expression 1>:
    <elif body 1>
...
else:
    <else body>
```

Only one of the bodies will ever be executed. Each `if` and `elif` (else-if) expression is evaluated and considered in order, starting at the top. As soon as a true value is found, the corresponding body is executed, and the rest of the expression is skipped. If none of the `if` or `elif` expressions are true, then the `else body` is executed. For more examples and explanation, refer to [Section 8.1](https://ucsd-dsc10.gitbooks.io/textbook/content/chapters/08/1/conditional-statements.html).

**Question 2.** Complete the following conditional statement so that the string `'More please'` is assigned to `say_please` if the number of nachos with cheese in `ten_nachos` is less than `5`.

In [ ]:
say_please = '?'

if ...:
    say_please = 'More please'
    
say_please

In [ ]:
_ = ok.grade('q1_2')

**Question 3.** Write a function called `nacho_reaction` that returns a string based on the type of nacho passed in. From top to bottom, the conditions should correspond to: `'cheese'`, `'salsa'`, `'both'`, `'neither'`.

In [ ]:
def nacho_reaction(nacho):
    if ...:
        return 'Cheesy!'
    # next condition should return 'Spicy!'
    ...
    # next condition should return 'Wow!'
    ...
    # next condition should return 'Meh.'
    ...

spicy_nacho = nacho_reaction('salsa')
spicy_nacho

In [ ]:
_ = ok.grade('q1_3')

**Question 4.** Add a column `'Reactions'` to the table `ten_nachos_reactions` that consists of reactions for each of the nachos in `ten_nachos`. 

*Hint:* Use the `apply` method.

In [ ]:
ten_nachos_reactions = Table().with_column('Nachos', ten_nachos)
...

ten_nachos_reactions

In [ ]:
_ = ok.grade('q1_4')

**Question 5.** Using code, find the number of `'Wow!'` reactions for the nachos in `ten_nachos_reactions`.  Think about how you could find this both by using table methods or by using `np.count_nonzero`.

In [ ]:
number_wow_reactions = ...
number_wow_reactions

In [ ]:
_ = ok.grade('q1_5')

**Question 6:** Change just the comparison operators from `==` to some other operators so that `should_be_true` is `True`.

In [ ]:
should_be_true = number_cheese == number_wow_reactions == np.count_nonzero(ten_nachos == 'neither')
should_be_true

In [ ]:
_ = ok.grade('q1_6')

**Question 7.** Complete the function `both_or_neither`, which takes in a table of nachos with reactions (with the same labels as the one from Question 4) and returns `'Wow!'` if there are more nachos with both cheese and salsa, or `'Meh.'` if there are more nachos with neither. If there are an equal number of each, return `'Okay!'`.

In [ ]:
def both_or_neither(nacho_table):
    reactions = ...
    number_wow_reactions = ...
    number_meh_reactions = ...
    if ...:
        return 'Wow!'
    # next condition should return 'Meh.'
    ...
    # next condition should return 'Okay!'
    ...

many_nachos = Table().with_column('Nachos', np.random.choice(nachos, 250))
many_nachos = many_nachos.with_column('Reactions', many_nachos.apply(nacho_reaction, 'Nachos'))
result = both_or_neither(many_nachos)
result

In [ ]:
_ = ok.grade('q1_7')

## 2. Iteration
Using a `for` statement, we can perform a task multiple times. This is known as iteration. Here, we'll simulate drawing different suits from a deck of cards.

In [ ]:
suits = make_array("♤", "♡", "♢", "♧")

draws = make_array()

repetitions = 6

for i in np.arange(repetitions):
    draws = np.append(draws, np.random.choice(suits))

draws

Another use of iteration is to loop through a set of values. For instance, we can print out all of the colors of the rainbow.

In [ ]:
rainbow = make_array("red", "orange", "yellow", "green", "blue", "indigo", "violet")

for color in rainbow:
    print(color)

We can see that the indented part of the `for` loop, known as the body, is executed once for each item in `rainbow`. Note that the name `color` is arbitrary; we could easily have named it something else.

**Question 1.** Clay is playing darts. His dartboard contains ten equal-sized zones with point values from 1 to 10. Write code using `np.random.choice` that simulates his total score after 1000 dart tosses.

In [ ]:
possible_point_values = ...
tosses = 1000

total_score = ...

total_score

In [ ]:
_ = ok.grade('q2_1')

**Question 2.** What is the average point value of a dart thrown by Clay?

In [ ]:
average_score = ...
average_score

In [ ]:
_ = ok.grade('q2_2')

**Question 3.** In the following cell, we've loaded the text of _Pride and Prejudice_ by Jane Austen, split it into individual words, and stored these words in an array. Using a `for` loop, assign `longer_than_five` to the number of words in the novel that are more than 5 letters long.  Look at [Section 8.2](https://ucsd-dsc10.gitbooks.io/textbook/content/chapters/08/2/iteration.html) if you get stuck, the textbook is very useful!

*Hint*: You can find the number of letters in a word with the `len` function.

In [ ]:
austen_string = open('Austen_PrideAndPrejudice.txt', encoding='utf-8').read()
p_and_p_words = np.array(austen_string.split())

...

longer_than_five

In [ ]:
_ = ok.grade('q2_3')

**Question 4.** Using simulation with 10,000 trials, assign `chance_of_all_different` to an estimate of the chance that if you pick three words from Pride and Prejudice uniformly at random (with replacement), they all have different lengths.

In [ ]:
trials = 10000

...

chance_of_all_different

In [ ]:
_ = ok.grade('q2_4')

## 3. Finding Probabilities
After a long day of class, Clay decides to go to Pines for dinner. Today's menu has Clay's four favorite foods: enchiladas, hamburgers, pizza, and spaghetti. However, each dish has a 30% chance of running out before Clay can get to Pines.

**Question 1.** What is the probability that Clay will be able to eat pizza at Pines?

In [ ]:
pizza_prob = ...

In [ ]:
_ = ok.grade('q3_1')

**Question 2.** What is the probability that Clay will be able to eat all four of these foods at Pines?

In [ ]:
all_prob = ...

In [ ]:
_ = ok.grade('q3_2')

**Question 3.** What is the probability that Pines will have run out of something (anything) before Clay can get there?

In [ ]:
something_is_out = ...

In [ ]:
_ = ok.grade('q3_3')

To make up for their unpredictable food supply, Pines decides to hold a contest for some free HDH Dining swag. There is a bag with two red marbles, two green marbles, and two blue marbles. Clay has to draw three marbles without replacement. In order to win, all three of these marbles must be of different colors.

**Question 4.** What is the probability of Clay winning the contest?

In [ ]:
winning_prob = ...

In [ ]:
_ = ok.grade('q3_4')

## 4. California National Parks
This part of the lab will help you get acquainted with the Table operations: `join`, `group`, and `pivot`
You can read more about them in [Chapter 8](https://www.inferentialthinking.com/chapters/08/Functions_and_Tables.html) of your textbook.

We'll begin by importing our two datasets, california_parks.csv and california_parks_species.csv, which provide information on California National Parks and their species, respectively. These are a subset of a [larger dataset the National Parks Service provides](https://www.kaggle.com/nationalparkservice/park-biodiversity).

In [ ]:
parks = Table.read_table("california_parks.csv")
species = Table.read_table("california_parks_species.csv")
parks_species = species.group("Park Name")
parks

**Question 1.** Say we want to see which National Park has the most amount of species (highest biodiversity), but the species count are in a different table, `parks_species`.

Use the `join` command to make a new table `parks_with_species`, which will have the parks' existing information and the number of species they have.

In [ ]:
parks_species

In [ ]:
parks_with_species = ...
parks_with_species

In [ ]:
_ = ok.grade('q4_1')

**Species Abundance** The next question will ask you about the species abundances at each park. Take a second to look at the species table to get acquainted with it's components.

In [ ]:
species

**Question 2.** Each park has a lot of different species, and each species varies in abundance at each park. Using the `group` command assign the variable `species_abundance` to a Table that *classifies* the parks by both Park Name and Abundance.

In [ ]:
species_abundance = ...
species_abundance

In [ ]:
_ = ok.grade('q4_2')

**Question 3.** Now using the `pivot` command, create a table that displays the same information, but with each park as a column and the abundance categories as rows.
**Hint**: you may want to refer to the [textbook](https://www.inferentialthinking.com/chapters/08/5/Bike_Sharing_in_the_Bay_Area.html#Exploring-the-Data-with-group-and-pivot) and look at the [datascience documentation on the pivot command](http://data8.org/datascience/_autosummary/datascience.tables.Table.pivot.html).

In [ ]:
species_per_abundance = ...
species_per_abundance

In [ ]:
_ = ok.grade('q4_3')

**Congratulations!** You are now finished with lab04, run the below cells and ensure that you've passed all the tests before submitting.

In [ ]:
# For your convenience, you can run this cell to run all the tests at once!
import os
_ = [ok.grade(q[:-3]) for q in os.listdir("tests") if q.startswith('q')]

In [ ]:
_ = ok.submit()