# Homework 2: Tables and Charts, Due Monday, October 14, at 11:59pm

**Reading**: Textbook chapters [6](https://www.inferentialthinking.com/chapters/06/Tables.html) and [7](https://www.inferentialthinking.com/chapters/07/Visualization.html).

Directly sharing answers is not okay, but discussing problems with the course staff or with other students is encouraged. 

You should start early so that you have time to get help if you're stuck.

Please complete this notebook by filling in the cells provided. Before you begin, execute the following cell to load the provided tests. Each time you start your server, you will need to execute this cell again to load the tests.

In [3]:
# Don't change this cell; just run it. 

import numpy as np
from datascience import *

%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

#from client.api.notebook import Notebook
#ok = Notebook('hw02.ok')
#_ = ok.auth(inline=True)

**Important**: The `ok` tests don't always tell you that your answer is correct. More often, they help catch careless mistakes. It's up to you to ensure that your answer is correct. If you're not sure, ask someone (not for the answer, but for some guidance about your approach).

Once you're finished, you must do two things:

### a. Turn into OK
Select "Save and Checkpoint" in the File menu and then execute the `submit` cell below. The result will contain a link that you can use to check that your assignment has been submitted successfully. If you submit more than once before the deadline, we will only grade your final submission.

In [ ]:
_ = ok.submit()

### b. Turn PDF into Gradescope
Select File > Download As > PDF via LaTeX in the File menu. Turn in this PDF file into the respective assignment at https://gradescope.com/.

If this doesn't work: try File > Download As > HTML, then print to PDF and upload to Gradescope. 

<br>
If you submit more than once before the deadline, we will only grade your final submission

## 1. Shark Attacks

**Question 1.** The first line assigns `sharks` to an array containing the number of shark attacks between 1930 and 2017. What's the smallest and largest number of shark attacks in a given year? What is the average number of attacks between 1930 and 2017 `(round to an integer)`. What is the total number of shark attacks between 1930 and 2017?

In [ ]:
sharks = Table.read_table('./sharks.csv').column('Attacks')

smallest = ...
largest = ...
average = ...
total = ...

In [ ]:
_ = ok.grade('q5_1')

**Question 2.** What is the largest decrease in attacks experienced between consecutive years? 

*Hint*: You'll need an array arithmetic function [mentioned in the textbook](https://ucsd-dsc10.gitbooks.io/textbook/content/chapters/04/4/arrays.html#Functions-on-Arrays).

In [ ]:
biggest_decrease = ...
biggest_decrease

In [ ]:
_ = ok.grade('q5_2')

**Question 3.** What percentage of shark attacks, during the 88 years recorded in the array, occured in the last 44 years?

*Hint*: Look up Python array slicing on Google.

In [ ]:
pct_in_last_44_years = ...
pct_in_last_44_years

In [ ]:
_ = ok.grade('q5_3')

**Question 4.** Suppose there were 30,000 beachgoers in 1930 and the number of beachgoers increased by 10% year-after-year. Create an array called `beachgoers` that contains the number of beachgoers in each year between 1930 and 2017. If any beachgoer is equally likely to be attacked by a shark, how dangerous was the *least* dangerous year for shark attacks? Assign the *percent* (**between 0 and 100**) chance of being attacked by a shark to the variable `danger`.

In [ ]:
beachgoers = ...
danger = ...

In [ ]:
_ = ok.grade('q5_4')

## 2. Tables

**Question 1.** Suppose you have 13 quarters, 20 dimes, 15 nickels, and 3 pennies in your pocket. Create a table, named `coins`, with two columns: `Coin Type` and `Quantity` that contains the inventory of your pocket.

In [4]:
coins = Table().with_columns(
    'Coin Type', make_array('Quarter', 'Dime', 'Nickel', 'Penny'),
    'Quantity', make_array(13, 20, 15, 3)
)
coins

Coin Type | Quantity
Quarter   | 13
Dime      | 20
Nickel    | 15
Penny     | 3

In [ ]:
_ = ok.grade('q6_1')

**Question 2.** The file `inventory.csv` contains information about the inventory at the snack bar at the end of the day.  Each row represents the contents of one box of snacks. Load it as a table named `inventory`.

In [8]:
inventory = Table.read_table('inventory.csv')
inventory

snack ID | snack name    | price per item ($) | start count | sold count
53686    | fruit snacks  | 1                  | 120         | 40
57181    | ginger chews  | 5                  | 10          | 8
25274    | doritos       | 2.5                | 56          | 20
48800    | takis         | 2                  | 50          | 10
26187    | fruit snacks  | 1                  | 55          | 25
57930    | oreos         | 0.5                | 35          | 35
52357    | string cheese | 1.75               | 15          | 0
43566    | twix bars     | 4.5                | 40          | 20
23434    | m&ms          | 3                  | 100         | 30
23334    | goldfish      | 5                  | 120         | 100
... (1 rows omitted)

In [ ]:
_ = ok.grade('q6_2')

**Question 3.** Does each box at the snack stand contain a different snack?

In [ ]:
# Set all_different to "Yes" if each box contains a different fruit or to "No" if multiple boxes contain the same fruit
all_different = 'No'
all_different

In [ ]:
_ = ok.grade('q6_3')

**Question 4.** How many snacks did the store sell in total that day **NOT** including fruit snacks?

In [6]:
total_fruit_sold = sum(inventory.column('sold count')) 
total_fruit_sold

308

In [ ]:
_ = ok.grade('q6_4')

**Question 5.** What was the store's total revenue (the total price of all snacks sold) on that day?

In [7]:
total_revenue = sum(inventory.column(2) * inventory.column(4))
total_revenue

892.5

In [ ]:
_ = ok.grade('q6_5')

**Question 6.** What was the stores's total revenue from fruit snacks sales that day?

In [ ]:
strawberries = inventory.where('fruit name', 'strawberry')
revenue_from_strawberries = sum(strawberries.column(2) * strawberries.column(4))
revenue_from_strawberries

In [ ]:
_ = ok.grade('q6_6')

**Question 7.** Which of the following snacks made the most revenue for the snack stand that day?

1. ginger chews
2. takis
3. twix bars
4. doritos
5. goldfish

In [ ]:
best_product = ...
best_product

**Question 7.** Create a table with a new column, called `remaining ($)` that indicates the total remaining value of the snacks still in each box at the end of the day. Assign this table the name `with_remaining`.

In [9]:
with_remaining = inventory.with_column('remaining ($)', inventory.column(2) * (inventory.column(3) - inventory.column(4)))
with_remaining

snack ID | snack name    | price per item ($) | start count | sold count | remaining ($)
53686    | fruit snacks  | 1                  | 120         | 40         | 80
57181    | ginger chews  | 5                  | 10          | 8          | 10
25274    | doritos       | 2.5                | 56          | 20         | 90
48800    | takis         | 2                  | 50          | 10         | 80
26187    | fruit snacks  | 1                  | 55          | 25         | 30
57930    | oreos         | 0.5                | 35          | 35         | 0
52357    | string cheese | 1.75               | 15          | 0          | 26.25
43566    | twix bars     | 4.5                | 40          | 20         | 90
23434    | m&ms          | 3                  | 100         | 30         | 210
23334    | goldfish      | 5                  | 120         | 100        | 100
... (1 rows omitted)

In [ ]:
_ = ok.grade('q6_7')

**Question 8.** Create a table with a new column, called `favorites` that indicates whether a snack is one of the most favorite kinds by `True` or `False`. If the total remaining value of the snacks still in each box at the end of the day is **less then 50 dollars**, then this snack in a particular box is one of the most favorite. Assign this table the name `with_favorites`.

In [ ]:
with_favorites = ...
with_favorites

In [ ]:
_ = ok.grade('q6_8')

## 3. Avocadopocalypse

In early 2017, reduced harvests and labor strikes caused avocado production in Mexico, Peru, and California to  dramatically decrease. In this problem we will investigate how and where prices fluctuated in response to the "avocadopocalypse".

The source of the avocado price data is [here](http://www.hassavocadoboard.com/retail/volume-and-price-data). We will use a subset of the data. The data has the following columns:

|Column|Description|
|------|-----------|
|Date|The date on which a price was recorded in YEAR-MONTH format|
|Type|The type of avocado. Either "conventional" or "organic".|
|Region|Where the price was recorded.|
|Price|The average avocado price for that time period/location.|
|Volume|The number of avocados sold (in thousands).|

**Question 1.** The data are in a CSV called `avocado.csv`. Read this file into a table named `avocado`.

In [ ]:
avocado = ...
avocado

In [ ]:
_ = ok.grade('q1_1')

**Question 2.** Assign `cheapest` to the name of the region which had the cheapest avocados (of any type, and any date), and similarly assign `most_expensive` to the name of the region with the most expensive avocados (of any type, and any date).

In [ ]:
cheapest = ...
most_expensive = ...

In [ ]:
_ = ok.grade('q1_2')

**Question 3.** Avocados are sold in two types: organic and conventional. Make a table named `organic` containing the data for organic avocados, and a table named `conventional` for conventional avocados.

In [ ]:
organic = ...
conventional = ...

In [ ]:
_ = ok.grade('q1_3')

**Question 4**: Create a table named `sf_total` containing two columns: `Date` and `Total Volume`. The `Total Volume` column should be equal to the total volume of avocados (organic + conventional) sold in San Francisco for each date. <br>

*Hint: By default, the `.group()` method asks for a column name whose values will be used to group the rows into categories. It creates a `count` column which contains the size of each group. But you can also provide `.group()` with a second argument: a function which will be applied to each group. You can use a built-in function or imported function, such as one from numpy (np).*

In [ ]:
# Remember: you can always use intermediate variables and more than one line of code
sf_total = ...
sf_total

In [ ]:
_ = ok.grade('q1_4')

**Question 5.** Compute the median price of **conventional** avocados in the entire US. Create a table named `median_price` containing two columns: <br>
1. The date.
2. The median price of conventional avocados sold for that date.

*Hint: You may want to apply some function as the second argument of group().*

**Question 5.** Compute the median price of **conventional** avocados in the entire US. Create a table named `median_price` containing two columns: <br>
1. The date.
2. The median price of conventional avocados sold for that date.

*Hint: You may want to apply some function as the second argument of group().*

In [ ]:
_ = ok.grade('q1_5')

**Question 6.** Plot the median price of conventional avocados in the entire US as a function of date. Does the data support the "avocadopocalypse"; that is, were prices higher in 2017? Describe how you could use the given data to investigate the *reason* that prices were higher.

In [ ]:
# Make your plot here

<hr style="color:Maroon;background-color:Maroon;border:0 none; height: 3px;">

*Write your answer here.*

<hr style="color:Maroon;background-color:Maroon;border:0 none; height: 3px;">

## 4. Google Play Store

In this problem, we will explore the [Google Play Store Apps Dataset](https://www.kaggle.com/lava18/google-play-store-apps), scraped from the Google Play Store.

In [12]:
# run this cell to load the data
apps = Table.read_table('googleplaystore.csv')
apps

App                                                | Category       | Rating | Reviews | Size | Installs | Type | Price | Content Rating | Genres
Photo Editor & Candy Camera & Grid & ScrapBook     | ART_AND_DESIGN | 4.1    | 159     | 19M  | 10000    | Free | 0     | Everyone       | Art & Design
Coloring book moana                                | ART_AND_DESIGN | 3.9    | 967     | 14M  | 500000   | Free | 0     | Everyone       | Art & Design;Pretend Play
U Launcher Lite – FREE Live Cool Themes, Hide Apps | ART_AND_DESIGN | 4.7    | 87510   | 8.7M | 5e+06    | Free | 0     | Everyone       | Art & Design
Sketch - Draw & Paint                              | ART_AND_DESIGN | 4.5    | 215644  | 25M  | 5e+07    | Free | 0     | Teen           | Art & Design
Pixel Draw - Number Art Coloring Book              | ART_AND_DESIGN | 4.3    | 967     | 2.8M | 100000   | Free | 0     | Everyone       | Art & Design;Creativity
Paper flowers instructions                         | ART_AND_DESIGN | 4.4    | 167     | 5.6M | 50000    | Free | 0     | Everyone       | Art & Design
Smoke Effect Photo Maker - Smoke Editor            | ART_AND_DESIGN | 3.8    | 178     | 19M  | 50000    | Free | 0     | Everyone       | Art & Design
Infinite Painter                                   | ART_AND_DESIGN | 4.1    | 36815   | 29M  | 1e+06    | Free | 0     | Everyone       | Art & Design
Garden Coloring Book                               | ART_AND_DESIGN | 4.4    | 13791   | 33M  | 1e+06    | Free | 0     | Everyone       | Art & Design
Kids Paint Free - Drawing Fun                      | ART_AND_DESIGN | 4.7    | 121     | 3.1M | 10000    | Free | 0     | Everyone       | Art & Design;Creativity
... (10815 rows omitted)

Each row in the table is an app. Here are descriptions of some of the columns.
- **Category** Category the app belongs to
- **Rating** Overall user rating of the app (as when scraped)
- **Reviews** Number of user reviews for the app (as when scraped) 
- **Installs** Number of user downloads/installs for the app (as when scraped)

**Question 1.** Assign `by_category` to a table which counts the number of apps per category. List the categories alphabetically.

In [44]:
by_category = apps.group('Content Rating').sort('Content Rating')
by_category

Content Rating  | count
Adults only 18+ | 3
Everyone        | 8702
Everyone 10+    | 413
Mature 17+      | 499
Teen            | 1206
Unrated         | 2

In [ ]:
_ = ok.grade('q2_1')

**Question 2.** Compute the number of apps in the dataset that have 1.5 stars or lower, and save the result in `bad_apps` and compute the number of apps in the dataset that have 4 starts of higher, and save the results in `good_apps`.

In [45]:
bad_apps = apps.where('Rating', are.below_or_equal_to(4.5)).num_rows
good_apps = apps.where('Rating', are.above_or_equal_to(4.0)).num_rows
bad_apps, good_apps

(7449, 7368)

In [ ]:
_ = ok.grade('q2_2')

**Question 4.** How many apps listed have the word "Google" in the App name?

note: each row is a separate App and should be counted as such (even if the names are the same).

In [33]:
google_apps = apps.where("App", are.containing("Google")).num_rows
google_apps

94

**Question 5:** Of the apps under the Category `COMMUNICATION`, get the `Content Rating` count for apps where the Rating is between or equal to 4 and 5 (inclusive). Return this as a table sorted by `count` (with greatest count at the top of the table).

Hint: creating two tables may help. Even though it is possible to do this in one line, sometimes it's better to break up the tasks to make the overall process clearer.

In [60]:
#first get the apps which are under the Category COMMUNICATION
communication_apps = apps.where("Category", are.containing("COMMUNICATION"))

#then use the above table and get apps with ratings between 4 and 5 (then get count and sort correctly)
top_communicaiton_apps = communication_apps.where("Rating", are.not_strictly_between(4,5)).group("Content Rating").sort("count",descending = True)

top_communication_apps

Content Rating | count
Everyone       | 209
Teen           | 17
Mature 17+     | 8

In [ ]:
_ = ok.grade('q2_3')

**Question 4.** Create a table named `install_stats` which has three columns: the column `Content Rating`, column `Mean Installs`, and column `Median Installs` which contains the mean and median number of install of apps in each type of content rating respectively.

*Hint*: You can use the 2-argument form of `.group()` .

In [ ]:
install_stats = ...
install_stats

In [ ]:
_ = ok.grade('q2_4')

**Question 5.** Suppose a good app is one with at least one million installs and a rating of at least 4.5. Create a variable called `best_category` containing the name of the category with the most good apps.

In [ ]:
best_category = ...
best_category

In [ ]:
_ = ok.grade('q2_5')

## 5. Power Outages

The dataset below contains information about power outages that occurred in North America between 2000 to 2014. The data is a subset of the data available [here](https://www.kaggle.com/autunno/15-years-of-power-outages).  Run the next cell to load the data.

In [ ]:
# just run this cell
power = Table.read_table("powerdata.csv")
power

**Question 1.** Find the proportion of all power outages that occured in the year 2008. Save your answer to the variable `outage_2008`.

In [ ]:
outage_2008 = ...
outage_2008

In [ ]:
_ = ok.grade('q3_1')

**Question 2.** Make a bar chart showing the number of outages per NERC Region. Make sure that the bars are sorted from longest to shortest. You can learn more about what a NERC region is [here](https://www.nerc.com/Pages/default.aspx).

In [ ]:
# put your line of code here:
...

**Question 3.** Draw a line plot of the count of power outages by year.

In [ ]:
# put your line of code here:
...

**Question 4.** We notice that there is a spike in power outages in the year 2011. Let's explore some of the data of the outages in the year 2011. Create a table named `power_2011` which has two columns: `Event Description`, and `count`, which is a count of the number of times that `Event Description` occured in 2011.

In [ ]:
power_2011 = ...
power_2011

In [ ]:
_ = ok.grade('q3_4')

**Question 5.** Let's say we want to find the proportion of each event and add it to `power_2011`. Create a new table called `proportion_2011` that adds a new column called `Proportions`.

In [ ]:
proportion_2011 = ...
proportion_2011

In [ ]:
_ = ok.grade('q3_5')

## Don't forget to submit to **both** OK *and* Gradescope!