# Homework 3: Custom Functions!!
### Due Monday, October 14th, at 11:59 pm
Directly sharing answers is not okay, but discussing problems with the course staff or with other students is encouraged. 

You should start early so that you have time to get help if you're stuck.

Please complete this notebook by filling in the cells provided. Before you begin, execute the following cell to load the provided tests. Each time you start your server, you will need to execute this cell again to load the tests.

In [1]:
# Don't change this cell; just run it

import numpy as np
from datascience import *

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('fivethirtyeight')

from client.api.notebook import Notebook 
ok = Notebook('hw03.ok')
#_ = ok.auth(inline=True)

=====================================================================
Assignment: Homework 3: Custom Functions!!
OK, version v1.13.11
=====================================================================

**Important**: The `ok` tests don't always tell you that your answer is correct. More often, they help catch careless mistakes. It's up to you to ensure that your answer is correct. If you're not sure, ask someone (not for the answer, but for some guidance about your approach).

Once you're finished, you must do two things:

### a. Turn into OK
Select "Save and Checkpoint" in the File menu and then execute the `submit` cell below. The result will contain a link that you can use to check that your assignment has been submitted successfully. If you submit more than once before the deadline, we will only grade your final submission.

In [2]:
#_ = ok.submit()

## 1. Defining Functions

**Question 1.** Define a function named `square_and_square_root` that takes in x and returns an array containing two items: x squared and the square root of x.

In [3]:
def square_and_square_root(x):
    return make_array(x**2, x**0.5)

In [4]:
_ = ok.grade('q1_1')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 2.** Define a function named `distance` that takes in four parameters x1, y1, x2, y2 and returns the Euclidean distance (the "ordinary" straight-line distance) between point (x1, y1) and point (x2, y2).

In [5]:
def distance(x1, y1, x2, y2):
    return ((y2 - y1) ** 2 + (x2 - x1) ** 2) ** 0.5

In [6]:
_ = ok.grade('q1_2')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 3.** Define a function named `array_distance` that takes in two arrays array([x1, y1]) and array([x2, y2]) and returns the Euclidean distance between point (x1, y1) and point (x2, y2). Feel free to use the `distance` function you defined.

In [7]:
def array_distance(array1, array2):
    x1 = array1[0]
    y1 = array1[1]
    x2 = array2[0]
    y2 = array2[1]
    return distance(x1, y1, x2, y2)

In [8]:
_ = ok.grade('q1_3')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 4.** Define a function named `closer_to_origin` that takes in two arrays array([x1, y1]) and array([x2, y2]), compares which point in (x1, y1) and (x2, y2) is closer to the origin, and returns that point's distance from the origin. Feel free to use the previous functions you defined.

In [9]:
def closer_to_origin(array1, array2):
    dist1 = array_distance(array1, make_array(0,0))
    dist2 = array_distance(array2, make_array(0,0))
    return min(dist1, dist2)

In [10]:
_ = ok.grade('q1_4')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

## 2. Olympic Medals

In this question, we will analyze data on Olympic athletes who won medals in the Winter Olympic Games from 1896-2014. You can find the data [here](https://www.kaggle.com/the-guardian/olympic-games#dictionary.csv)

**Question 1.** The data is in a CSV file called `winter.csv`. Read this file into a table named `winter`.

In [11]:
winter = Table.read_table('winter.csv')
winter

C:\Users\Yang Li\Anaconda3\lib\site-packages\datascience\tables.py:132: FutureWarning: read_table is deprecated, use read_csv instead.
  df = pandas.read_table(filepath_or_buffer, *args, **vargs)

Year | City     | Sport    | Discipline | Athlete              | Country | Gender | Event           | Medal
1924 | Chamonix | Biathlon | Biathlon   | BERTHET, G.          | FRA     | Men    | Military Patrol | Bronze
1924 | Chamonix | Biathlon | Biathlon   | MANDRILLON, C.       | FRA     | Men    | Military Patrol | Bronze
1924 | Chamonix | Biathlon | Biathlon   | MANDRILLON, Maurice  | FRA     | Men    | Military Patrol | Bronze
1924 | Chamonix | Biathlon | Biathlon   | VANDELLE, André      | FRA     | Men    | Military Patrol | Bronze
1924 | Chamonix | Biathlon | Biathlon   | AUFDENBLATTEN, Adolf | SUI     | Men    | Military Patrol | Gold
1924 | Chamonix | Biathlon | Biathlon   | JULEN, Alphonse      | SUI     | Men    | Military Patrol | Gold
1924 | Chamonix | Biathlon | Biathlon   | JULEN, Ant.          | SUI     | Men    | Military Patrol | Gold
1924 | Chamonix | Biathlon | Biathlon   | VAUCHER, D.          | SUI     | Men    | Military Patrol | Gold
1924 | Chamonix | Biathlon | Biathlon   | BREMER, V.E.         | FIN     | Men    | Military Patrol | Silver
1924 | Chamonix | Biathlon | Biathlon   | ESKELINEN, A.        | FIN     | Men    | Military Patrol | Silver
... (5760 rows omitted)

In [12]:
_ = ok.grade('q2_1')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

C:\Users\Yang Li\Anaconda3\lib\site-packages\datascience\tables.py:192: FutureWarning: Implicit column method lookup is deprecated.
  warnings.warn("Implicit column method lookup is deprecated.", FutureWarning)

The `Country` column contains International Olympic Committee (IOC) [country codes](https://olympics.fandom.com/wiki/List_of_IOC_country_codes). We want to convert these country codes into actual country names that everyone can understand.

We'll use a Python [dictionary](https://www.tutorialspoint.com/python/python_dictionary.htm) to help us with this conversion. A dictionary is a simple way to map a unique key to a value. For example, the below dictionary maps course codes to course names.

In [13]:
dsc_courses = {
    'DSC 10': 'Principles of Data Science',
    'DSC 20': 'Programming and Basic Data Structures for Data Science',
    'DSC 30': 'Data Structures and Algorithms for Data Science',
    'DSC 40A': 'Theoretical Foundations of Data Science I',
    'DSC 40B': 'Theoretical Foundations of Data Science II',
    'DSC 80': 'The Practice and Application of Data Science'
}

We can access the value corresponding to each key using bracket notation.

In [14]:
dsc10_name = dsc_courses['DSC 10']
dsc10_name

'Principles of Data Science'

Here, `DSC 10` is the key and `Principles of Data Science` is the value.

Let's use a dictionary to help us with our country code to country name conversion. Below is a dictionary containing country codes as keys and country names as values for each of the countries in our dataset of Winter Olympic medal winners.

In [15]:
country_codes = {
 'USA': 'United States',
 'CAN': 'Canada',
 'NOR': 'Norway',
 'URS': 'Soviet Union',
 'FIN': 'Finland',
 'SWE': 'Sweden',
 'GER': 'Germany',
 'SUI': 'Switzerland',
 'AUT': 'Austria',
 'RUS': 'Russia',
 'ITA': 'Italy',
 'GDR': 'East Germany',
 'TCH': 'Czechoslovakia',
 'FRA': 'France',
 'NED': 'Netherlands',
 'FRG': 'West Germany',
 'KOR': 'Korea, South',
 'CHN': 'China',
 'GBR': 'United Kingdom',
 'CZE': 'Czech Republic',
 'JPN': 'Japan',
 'EUN': 'Unified Team',
 'POL': 'Poland',
 'EUA': 'United Team of Germany',
 'SLO': 'Slovenia',
 'AUS': 'Australia',
 'BLR': 'Belarus',
 'LAT': 'Latvia',
 'BEL': 'Belgium',
 'HUN': 'Hungary',
 'UKR': 'Ukraine',
 'CRO': 'Croatia',
 'LIE': 'Liechtenstein',
 'YUG': 'Yugoslavia',
 'EST': 'Estonia',
 'KAZ': 'Kazakhstan',
 'BUL': 'Bulgaria',
 'DEN': 'Denmark',
 'SVK': 'Slovakia',
 'ROU': 'Romania',
 'ESP': 'Spain',
 'PRK': 'Korea, North',
 'LUX': 'Luxembourg',
 'NZL': 'New Zealand',
 'UZB': 'Uzbekistan'}

**Question 2.** Using `country_codes`, define a function named `code_to_country` that takes as input a country code and returns the corresponding country name.

In [16]:
def code_to_country(code):
    return country_codes[code]

In [17]:
_ = ok.grade('q2_2')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 3.** Using your `code_to_country` function, use `.apply()` to convert all of the country codes into country names in the `Country` column. Do this without creating an additional column. Check the `.with_columns()` [documentation](http://data8.org/datascience/_autosummary/datascience.tables.Table.with_columns.html) to see how to *replace* values in these two columns without creating additional columns.

In [18]:
winter = winter.with_columns(
    'Country' ,
    winter.apply(code_to_country, 'Country'))
winter

Year | City     | Sport    | Discipline | Athlete              | Country     | Gender | Event           | Medal
1924 | Chamonix | Biathlon | Biathlon   | BERTHET, G.          | France      | Men    | Military Patrol | Bronze
1924 | Chamonix | Biathlon | Biathlon   | MANDRILLON, C.       | France      | Men    | Military Patrol | Bronze
1924 | Chamonix | Biathlon | Biathlon   | MANDRILLON, Maurice  | France      | Men    | Military Patrol | Bronze
1924 | Chamonix | Biathlon | Biathlon   | VANDELLE, André      | France      | Men    | Military Patrol | Bronze
1924 | Chamonix | Biathlon | Biathlon   | AUFDENBLATTEN, Adolf | Switzerland | Men    | Military Patrol | Gold
1924 | Chamonix | Biathlon | Biathlon   | JULEN, Alphonse      | Switzerland | Men    | Military Patrol | Gold
1924 | Chamonix | Biathlon | Biathlon   | JULEN, Ant.          | Switzerland | Men    | Military Patrol | Gold
1924 | Chamonix | Biathlon | Biathlon   | VAUCHER, D.          | Switzerland | Men    | Military Patrol | Gold
1924 | Chamonix | Biathlon | Biathlon   | BREMER, V.E.         | Finland     | Men    | Military Patrol | Silver
1924 | Chamonix | Biathlon | Biathlon   | ESKELINEN, A.        | Finland     | Men    | Military Patrol | Silver
... (5760 rows omitted)

In [19]:
_ = ok.grade('q2_3')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 4.** 
Define a function named `lastname_length` that returns the length of a lastname. It should take as an input the name of the athlete. Notice that the name consists of the 'lastname, firstname' of the athlete.

*Hint:* Use the string function [`.split()`](https://docs.python.org/3/library/stdtypes.html#str.split). This is useful in splitting the name into a lastname and a firstname.

In [20]:
def lastname_length(name):
    last_name = name.split(', ')[0]
    return len(last_name)

# Test cases for your own reference.
print(lastname_length('Quer, Giorgio'))  # Should print 4
print(lastname_length('Twomey, Robert')) # Should print 6
print(lastname_length('Tiefenbruck, Janine'))  #Should print 11

4
6
11

In [21]:
_ = ok.grade('q2_4')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 5.** Create a function named `median_values` that takes as an input the name of a country and returns the median last name length of the athletes from that country. 

*Hint:* use the previously defined function!

In [22]:
def median_values(country):
    country_of_interest = winter.where("Country", are.containing(country))
    name_lengths = country_of_interest.apply(lastname_length, "Athlete")
    return np.median(name_lengths)

In [23]:
_ = ok.grade('q2_5')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 6.** 
Create a table called `last_names` with original columns `Year, Sport, Athlete and Country` and new column `Last Name Length` that has the length of the last name, with the longest name at the top and shortest at bottom.

In [24]:
winter_cut = winter.select("Year", "Sport", "Athlete", "Country")
last_names = winter_cut.with_column('Last Name Length', winter.apply(lastname_length,'Athlete'))
last_names = last_names.sort('Last Name Length', descending = True)
last_names

Year | Sport     | Athlete                         | Country      | Last Name Length
2006 | Bobsleigh | HOLLINGSWORTH-RICHARDS, Mellisa | Canada       | 22
2010 | Skiing    | SACHENBACHER-STEHLE, Evi        | Germany      | 19
2010 | Skiing    | SACHENBACHER-STEHLE, Evi        | Germany      | 19
2006 | Skiing    | SACHENBACHER STEHLE, Evi        | Germany      | 19
1994 | Biathlon  | GREINER-PETTER-MEMM, Simone     | Germany      | 19
1988 | Skiing    | KINSHOFER GUETHLEIN, Christa    | West Germany | 19
1988 | Skiing    | KINSHOFER GUETHLEIN, Christa    | West Germany | 19
1980 | Skiing    | KINSHOFER GUETHLEIN, Christa    | West Germany | 19
2006 | Skiing    | MEDVEDEVA-ABRUZOVA, Evgenia     | Russia       | 18
2006 | Skiing    | MEDVEDEVA-ABRUZOVA, Evgenia     | Russia       | 18
... (5760 rows omitted)

In [25]:
set(last_names.labels) == {"Year", "Sport", "Athlete", "Country", "Last Name Length"}

True

In [26]:
_ = ok.grade('q2_6')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 7.** What is the length of the longest name, return this number as `longest_name_length`? What is the length of the shortest name, return this number as `shortest_name_length`?

In [27]:
longest_name_length = last_names.sort('Last Name Length', descending = True).column('Last Name Length').item(0)
shortest_name_length = last_names.sort('Last Name Length', descending = False).column('Last Name Length').item(0)
longest_name_length, shortest_name_length

(22, 2)

In [28]:
_ = ok.grade('q2_7')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 8.** Make a function called `point_total` that takes in a country name (string) and awards points based on olympic medals. The country gets 1 point for every bronze medal, 2 points for every silver and 3 for every gold.

In [29]:
#make the function here 

def point_total(country):
    gold = winter.where("Country", country).where("Medal", "Gold").num_rows * 3
    silver = winter.where("Country", country).where("Medal", "Silver").num_rows * 2
    bronze = winter.where("Country", country).where("Medal", "Bronze").num_rows
    return gold + silver + bronze

In [30]:
_ = ok.grade('q2_8')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 9.** Of the five countries listed, which has the highest point count overall?:

1. Germany 
2. Russia 
3. Japan
4. Canada
5. France

Return the name of the country as a `country_name` variable and the points in `points`.

In [31]:
#helps you compare
point_total("Germany"), point_total("Russia"), point_total("Japan"), point_total("China"), point_total("France")

(760, 541, 119, 144, 259)

In [32]:
country = 'Germany'
points = 760

In [33]:
_ = ok.grade('q2_9')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

## 3. Past World Cups
Let's now turn to historical World Cup data, from 1930 to 2018. The `Country` column describes the location of the World Cup for that year

**Question 1.** The data is in a CSV file called `world_cups.csv`. Read this file into a table named `world_cups`.

In [34]:
world_cups = Table.read_table('world_cups.csv')
world_cups.where('Year', are.equal_to(1938)).column('First')[0]

'Italy'

In [35]:
_ = ok.grade('q3_1')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 2.** Using `.group()`, identify which country won the most number of World Cups from 1930 to 2018. Assign your answer to `most_wins`.

In [36]:
most_wins = world_cups.group('First').sort('count', descending=True).column('First')[0]
most_wins

'Brazil'

In [37]:
_ = ok.grade('q3_2')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

The World Cup champions' curse is a historical phenomenon in which the defending champion of one World Cup tends to perform poorly on the next World Cup. For example, after winning the 2014 World Cup, Germany failed to even advance to the knockout stage (top 16 teams) of the 2018 World Cup, losing to Mexico and South Korea in the group stage.

We'll explore a simplified version of the World Cup champions' curse in which we'll see whether the defending champion of one World Cup was able to advance to the semifinals (top 4 teams) of the next World Cup.

**Question 3.** Add a column named `Defending Champion` to `world_cups`, containing the names of the defending champions for each year. We define the defending champion to be the country who won the previous World Cup. For example, since Germany won the 2014 World Cup, Germany was the defending champion for the 2018 World Cup. Since France won the 2018 World Cup, France is the defending champion for the 2022 World Cup (excluded from our data set).

Note that the 1930 row will not have a defending champion, since our data set doesn't include the winner of the 1926 World Cup. Simply remove this row after extracting the defending champion for the 1934 World Cup. `world_cups` will contain one less row after this process.

In [38]:
all_but_last = world_cups.take(np.arange(0, world_cups.num_rows - 1))
all_but_first = world_cups.take(np.arange(1, world_cups.num_rows))

world_cups = all_but_first.with_column(
    'Defending Champion',
    all_but_last.column('First')
)
world_cups

Year | Country     | First      | Second         | Third      | Fourth       | Defending Champion
1934 | Italy       | Italy      | Czechoslovakia | Germany    | Austria      | Uruguay
1938 | France      | Italy      | Hungary        | Brazil     | Sweden       | Italy
1950 | Brazil      | Uruguay    | Brazil         | Sweden     | Spain        | Italy
1954 | Switzerland | Germany FR | Hungary        | Austria    | Uruguay      | Uruguay
1958 | Sweden      | Brazil     | Sweden         | France     | Germany FR   | Germany FR
1962 | Chile       | Brazil     | Czechoslovakia | Chile      | Yugoslavia   | Brazil
1966 | England     | England    | Germany FR     | Portugal   | Soviet Union | Brazil
1970 | Mexico      | Brazil     | Italy          | Germany FR | Uruguay      | England
1974 | Germany     | Germany FR | Netherlands    | Poland     | Brazil       | Brazil
1978 | Argentina   | Argentina  | Netherlands    | Brazil     | Italy        | Germany FR
... (10 rows omitted)

In [39]:
_ = ok.grade('q3_3')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 4.** The next step is to check whether the defending champion was able to advance to the semifinals. First, define a function named `final_four` that takes as input four countries (as strings) and returns a single *list* containing the four countries as elements.

*Hint:* You can create a list using [ ]. For example, list = ['one', 'two', 'three']. The body of the function should be one line of code.

In [40]:
def final_four(first, second, third, fourth):
    return [first, second, third, fourth]

In [41]:
_ = ok.grade('q3_4')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 5.** Using your `final_four` function, add a column named `Final Four` to `world_cups`, containing lists of the semifinalists for each World Cup.

In [42]:
world_cups = world_cups.with_column('Final Four', world_cups.apply(final_four, 'First', 'Second', 'Third', 'Fourth'))
world_cups

Year | Country     | First      | Second         | Third      | Fourth       | Defending Champion | Final Four
1934 | Italy       | Italy      | Czechoslovakia | Germany    | Austria      | Uruguay            | ['Italy' 'Czechoslovakia' 'Germany' 'Austria']
1938 | France      | Italy      | Hungary        | Brazil     | Sweden       | Italy              | ['Italy' 'Hungary' 'Brazil' 'Sweden']
1950 | Brazil      | Uruguay    | Brazil         | Sweden     | Spain        | Italy              | ['Uruguay' 'Brazil' 'Sweden' 'Spain']
1954 | Switzerland | Germany FR | Hungary        | Austria    | Uruguay      | Uruguay            | ['Germany FR' 'Hungary' 'Austria' 'Uruguay']
1958 | Sweden      | Brazil     | Sweden         | France     | Germany FR   | Germany FR         | ['Brazil' 'Sweden' 'France' 'Germany FR']
1962 | Chile       | Brazil     | Czechoslovakia | Chile      | Yugoslavia   | Brazil             | ['Brazil' 'Czechoslovakia' 'Chile' 'Yugoslavia']
1966 | England     | England    | Germany FR     | Portugal   | Soviet Union | Brazil             | ['England' 'Germany FR' 'Portugal' 'Soviet Union']
1970 | Mexico      | Brazil     | Italy          | Germany FR | Uruguay      | England            | ['Brazil' 'Italy' 'Germany FR' 'Uruguay']
1974 | Germany     | Germany FR | Netherlands    | Poland     | Brazil       | Brazil             | ['Germany FR' 'Netherlands' 'Poland' 'Brazil']
1978 | Argentina   | Argentina  | Netherlands    | Brazil     | Italy        | Germany FR         | ['Argentina' 'Netherlands' 'Brazil' 'Italy']
... (10 rows omitted)

In [43]:
_ = ok.grade('q3_5')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 6.** Now, define a function named `in_final_four` that takes as input the defending champion and a list of the four semifinalists and returns `True` if the defending champion is included in the set of semifinalists and `False` otherwise.

*Hint:* You can use the Python `in` keyword to check if something is in a list. For example, `3 in [1, 2, 3]` evaluates to `True`. The body of your function should be one line of code.

In [44]:
def in_final_four(defending_champion, final_four):
    return defending_champion in final_four

In [45]:
_ = ok.grade('q3_6')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 7.** Using your `in_final_four` function, add a column named `Defending Champion in Final Four` to `world_cups`, indicating whether a defending champion advanced to the semifinals.

In [46]:
world_cups = world_cups.with_column('Defending Champion in Final Four', world_cups.apply(in_final_four, 'Defending Champion', 'Final Four'))
world_cups.show(20)

In [47]:
_ = ok.grade('q3_7')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 8.** How often did the defending champion advance to the semifinals in the World Cups from 1934 to 2018? Assign a proportion, ranging from 0 to 1, to `semifinalist_frequency`

In [48]:
semfinalist_frequency = world_cups.where('Defending Champion in Final Four', True).num_rows / world_cups.num_rows
semfinalist_frequency

0.35

In [49]:
_ = ok.grade('q3_8')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

## 4. Histograms

Suppose we have a table called `data` with two numerical columns, "x" and "y". Consider the following scatter plot, which was generated by calling `data.scatter('x', 'y')`:

![](scattered.png)

Now consider these two histograms:

**Histogram A**:

![](hist_a.png)

**Histogram B**:

![](hist_b.png)

**Question 1.** One of these two lines of code generated Histogram A, and the other generated Histogram B:
 - `data.hist('x')`
 - `data.hist('y')`  
 
 Which line generated Histogram A? Which generated Histogram B? Explain.

<hr style="color:Maroon;background-color:Maroon;border:0 none; height: 3px;">

*Write your answer here.*

<hr style="color:Maroon;background-color:Maroon;border:0 none; height: 3px;">

**Question 2.** Suppose we run this line of code:

    new_data = Table().with_columns(
        'x',
        data.column('x') + 5,
        'y',
        data.column('y')
    )
    
 We then run `new_data.hist('x')`. What does the new histogram look like?

<hr style="color:Maroon;background-color:Maroon;border:0 none; height: 3px;">

*Write your answer here.*

<hr style="color:Maroon;background-color:Maroon;border:0 none; height: 3px;">

**Question 3.** According to the histograms above, approximately what percent of points in the scatterplot have an `x` value between 1 and 1.5 (inclusive)? Return the number (1 - 4) of the correct percentage listed below in the variable `x_between`.

1. 15
2. 30
3. 45
4. 60

In [ ]:
x_between = ...
x_between

In [ ]:
_ = ok.grade('q4')

## Submit

To submit:

1. Select `Run All` from the `Cell` menu to ensure that you have executed all cells, including the test cells.
3. Read through the notebook to make sure everything is fine.
4. Submit using the cell below.

In [50]:
# For your convenience, you can run this cell to run all the tests at once!
import os
_ = [ok.grade(q[:-3]) for q in os.listdir('tests') if q.startswith('q')]

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

In [51]:
#_ = ok.submit()