# Homework 4: Functions, Apply, Group, Conditionals, and Iteration
### Due Friday, August 23rd, at 11:59 pm
Directly sharing answers is not okay, but discussing problems with the course staff or with other students is encouraged. 

You should start early so that you have time to get help if you're stuck.

Please complete this notebook by filling in the cells provided. Before you begin, execute the following cell to load the provided tests. Each time you start your server, you will need to execute this cell again to load the tests.

In [12]:
# Don't change this cell; just run it

import numpy as np
from datascience import *

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('fivethirtyeight')

# from client.api.notebook import Notebook
# ok = Notebook('hw04.ok')
# _ = ok.auth(inline=True)

**Important**: The `ok` tests don't always tell you that your answer is correct. More often, they help catch careless mistakes. It's up to you to ensure that your answer is correct. If you're not sure, ask someone (not for the answer, but for some guidance about your approach).

Once you're finished, you must do two things:

### a. Turn into OK
Select "Save and Checkpoint" in the File menu and then execute the `submit` cell below. The result will contain a link that you can use to check that your assignment has been submitted successfully. If you submit more than once before the deadline, we will only grade your final submission.

In [2]:
#_ = ok.submit()

Saving notebook... Could not save your notebook. Make sure your notebook is saved before sending it to OK!
Submit... 100% complete
Submission successful for user: dhl011@ucsd.edu
URL: https://okpy.org/ucsd/dsc10/fa18/hw04/submissions/G5J5A8

## 1. Olympic Medals

In this question, we will analyze data on Olympic athletes who won medals in the Winter Olympic Games from 1896-2014. You can find the data [here](https://www.kaggle.com/the-guardian/olympic-games#dictionary.csv)

**Question 1.** The data is in a CSV file called `winter.csv`. Read this file into a table named `winter`.

In [30]:
winter = Table.read_table('winter.csv')
winter

c:\users\joshu\appdata\local\programs\python\python36\lib\site-packages\datascience\tables.py:132: FutureWarning: read_table is deprecated, use read_csv instead.
  df = pandas.read_table(filepath_or_buffer, *args, **vargs)

Year | City     | Sport    | Discipline | Athlete              | Country | Gender | Event           | Medal
1924 | Chamonix | Biathlon | Biathlon   | BERTHET, G.          | FRA     | Men    | Military Patrol | Bronze
1924 | Chamonix | Biathlon | Biathlon   | MANDRILLON, C.       | FRA     | Men    | Military Patrol | Bronze
1924 | Chamonix | Biathlon | Biathlon   | MANDRILLON, Maurice  | FRA     | Men    | Military Patrol | Bronze
1924 | Chamonix | Biathlon | Biathlon   | VANDELLE, André      | FRA     | Men    | Military Patrol | Bronze
1924 | Chamonix | Biathlon | Biathlon   | AUFDENBLATTEN, Adolf | SUI     | Men    | Military Patrol | Gold
1924 | Chamonix | Biathlon | Biathlon   | JULEN, Alphonse      | SUI     | Men    | Military Patrol | Gold
1924 | Chamonix | Biathlon | Biathlon   | JULEN, Ant.          | SUI     | Men    | Military Patrol | Gold
1924 | Chamonix | Biathlon | Biathlon   | VAUCHER, D.          | SUI     | Men    | Military Patrol | Gold
1924 | Chamonix | Biathlon | Biathlon   | BREMER, V.E.         | FIN     | Men    | Military Patrol | Silver
1924 | Chamonix | Biathlon | Biathlon   | ESKELINEN, A.        | FIN     | Men    | Military Patrol | Silver
... (5760 rows omitted)

In [31]:
#_ = ok.grade('q1_1')

The `Country` column contains International Olympic Committee (IOC) [country codes](https://olympics.fandom.com/wiki/List_of_IOC_country_codes). We want to convert these country codes into actual country names that everyone can understand.

We'll use a Python [dictionary](https://www.tutorialspoint.com/python/python_dictionary.htm) to help us with this conversion. A dictionary is a simple way to map a unique key to a value. For example, the below dictionary maps course codes to course names.

In [32]:
dsc_courses = {
    'DSC 10': 'Principles of Data Science',
    'DSC 20': 'Programming and Basic Data Structures for Data Science',
    'DSC 30': 'Data Structures and Algorithms for Data Science',
    'DSC 40A': 'Theoretical Foundations of Data Science I',
    'DSC 40B': 'Theoretical Foundations of Data Science II',
    'DSC 80': 'The Practice and Application of Data Science'
}

We can access the value corresponding to each key using bracket notation.

In [33]:
dsc10_name = dsc_courses['DSC 10']
dsc10_name

'Principles of Data Science'

Here, `DSC 10` is the key and `Principles of Data Science` is the value.

Let's use a dictionary to help us with our country code to country name conversion. Below is a dictionary containing country codes as keys and country names as values for each of the countries in our dataset of Winter Olympic medal winners.

In [34]:
country_codes = {
 'USA': 'United States',
 'CAN': 'Canada',
 'NOR': 'Norway',
 'URS': 'Soviet Union',
 'FIN': 'Finland',
 'SWE': 'Sweden',
 'GER': 'Germany',
 'SUI': 'Switzerland',
 'AUT': 'Austria',
 'RUS': 'Russia',
 'ITA': 'Italy',
 'GDR': 'East Germany',
 'TCH': 'Czechoslovakia',
 'FRA': 'France',
 'NED': 'Netherlands',
 'FRG': 'West Germany',
 'KOR': 'Korea, South',
 'CHN': 'China',
 'GBR': 'United Kingdom',
 'CZE': 'Czech Republic',
 'JPN': 'Japan',
 'EUN': 'Unified Team',
 'POL': 'Poland',
 'EUA': 'United Team of Germany',
 'SLO': 'Slovenia',
 'AUS': 'Australia',
 'BLR': 'Belarus',
 'LAT': 'Latvia',
 'BEL': 'Belgium',
 'HUN': 'Hungary',
 'UKR': 'Ukraine',
 'CRO': 'Croatia',
 'LIE': 'Liechtenstein',
 'YUG': 'Yugoslavia',
 'EST': 'Estonia',
 'KAZ': 'Kazakhstan',
 'BUL': 'Bulgaria',
 'DEN': 'Denmark',
 'SVK': 'Slovakia',
 'ROU': 'Romania',
 'ESP': 'Spain',
 'PRK': 'Korea, North',
 'LUX': 'Luxembourg',
 'NZL': 'New Zealand',
 'UZB': 'Uzbekistan'}

**Question 2.** Using `country_codes`, define a function named `code_to_country` that takes as input a country code and returns the corresponding country name.

In [35]:
def code_to_country(code):
    return country_codes[code]

In [36]:
#_ = ok.grade('q1_2')

**Question 3.** Using your `code_to_country` function, use `.apply()` to convert all of the country codes into country names in the `Country` column. Do this without creating an additional column. Check the `.with_columns()` [documentation](http://data8.org/datascience/_autosummary/datascience.tables.Table.with_columns.html) to see how to *replace* values in these two columns without creating additional columns.

In [37]:
winter = winter.with_columns(
    'Country' ,
    winter.apply(code_to_country, 'Country'))
winter

Year | City     | Sport    | Discipline | Athlete              | Country     | Gender | Event           | Medal
1924 | Chamonix | Biathlon | Biathlon   | BERTHET, G.          | France      | Men    | Military Patrol | Bronze
1924 | Chamonix | Biathlon | Biathlon   | MANDRILLON, C.       | France      | Men    | Military Patrol | Bronze
1924 | Chamonix | Biathlon | Biathlon   | MANDRILLON, Maurice  | France      | Men    | Military Patrol | Bronze
1924 | Chamonix | Biathlon | Biathlon   | VANDELLE, André      | France      | Men    | Military Patrol | Bronze
1924 | Chamonix | Biathlon | Biathlon   | AUFDENBLATTEN, Adolf | Switzerland | Men    | Military Patrol | Gold
1924 | Chamonix | Biathlon | Biathlon   | JULEN, Alphonse      | Switzerland | Men    | Military Patrol | Gold
1924 | Chamonix | Biathlon | Biathlon   | JULEN, Ant.          | Switzerland | Men    | Military Patrol | Gold
1924 | Chamonix | Biathlon | Biathlon   | VAUCHER, D.          | Switzerland | Men    | Military Patrol | Gold
1924 | Chamonix | Biathlon | Biathlon   | BREMER, V.E.         | Finland     | Men    | Military Patrol | Silver
1924 | Chamonix | Biathlon | Biathlon   | ESKELINEN, A.        | Finland     | Men    | Military Patrol | Silver
... (5760 rows omitted)

In [38]:
#_ = ok.grade('q1_3')

**Question 4.** Silver medalists are often more devastated than bronze medalists since they are so close to getting gold. Using `.group()`, assign `saddest_country` to the country has the most number of silver medalists. 

*Hint:* `.group()` takes in a function as an optional argument.

In [39]:
saddest_country = winter.where('Medal','Silver').group('Country').sort('count', descending=True).column('Country')[0]
saddest_country

'United States'

In [40]:
#_ = ok.grade('q1_4')

**Question 5.** 
Define a function named `lastname_length` that returns a string describing how long a lastname is. It should take as an input the name of the athlete. Notice that the name consists of the 'lastname, firstname' of the athlete.

The function should return the following strings based on the length of the lastname:

* Lastname length greater than 10: "very long"
* Lastname length less than or equal to 10, and greater than 5: "normal"
* Lastname length less than or equal to 5: "very short"

*Hint:* Use the string function [`.split()`](https://docs.python.org/3/library/stdtypes.html#str.split). This is useful in splitting the name into a lastname and a firstname.

In [41]:
def lastname_length(name):
    last_name = name.split(', ')[0]
    if len(last_name) > 10:
        return 'very long'
    elif len(last_name) > 5 and len(last_name) <= 10:
        return 'normal'
    else:
        return 'very short'

# Test cases for your own reference.
print(lastname_length('Quer, Giorgio'))  # Should print "very short"
print(lastname_length('Twomey, Robert')) # Should print 'normal'
print(lastname_length('Tiefenbruck, Janine'))  #Should print 'very long'

very short
normal
very long

In [42]:
#_ = ok.grade('q1_5')

**Question 6.** Create a new table with only the `Athlete`, `Country`, `Gender`, `Medal` columns of `winter`. Then, using your `lastname_length` function, add a new column named `Long Last Name?` that describes whether the athlete's last name is very short, normal, or very long. Assign this new table to `last_names`.

In [43]:
winter_cut = winter.select('Athlete','Country','Gender','Medal')
last_names = winter_cut.with_column('Long Last Name?', winter.apply(lastname_length,'Athlete'))
last_names

Athlete              | Country     | Gender | Medal  | Long Last Name?
BERTHET, G.          | France      | Men    | Bronze | normal
MANDRILLON, C.       | France      | Men    | Bronze | normal
MANDRILLON, Maurice  | France      | Men    | Bronze | normal
VANDELLE, André      | France      | Men    | Bronze | normal
AUFDENBLATTEN, Adolf | Switzerland | Men    | Gold   | very long
JULEN, Alphonse      | Switzerland | Men    | Gold   | very short
JULEN, Ant.          | Switzerland | Men    | Gold   | very short
VAUCHER, D.          | Switzerland | Men    | Gold   | normal
BREMER, V.E.         | Finland     | Men    | Silver | normal
ESKELINEN, A.        | Finland     | Men    | Silver | normal
... (5760 rows omitted)

In [44]:
np.count_nonzero(last_names[4] == "very short")

1323

In [45]:
#_ = ok.grade('q1_6')

**Question 7.** Now we want to look at which countries have some of the shortest last names. Find the top 3 countries with the most number of athletes with very long last names from most long last names, to least long last names. Assign these countries as an array to `shortest_names`.

*Hint*: A possible solution involves grouping by 2 columns.

In [46]:
shortest_names = last_names.group(['Country','Long Last Name?']).where('Long Last Name?','very short')\
            .sort('count',descending=True).column('Country')[:3]
shortest_names

array(['United States', 'Canada', 'Germany'], dtype='<U22')

In [48]:
len(shortest_names) == 3

True

In [ ]:
#_ = ok.grade('q1_7')

## 2. Past World Cups
Let's now turn to historical World Cup data, from 1930 to 2018. The `Country` column describes the location of the World Cup for that year

**Question 1.** The data is in a CSV file called `world_cups.csv`. Read this file into a table named `world_cups`.

In [43]:
world_cups = Table.read_table('world_cups.csv')
world_cups

Year | Country     | First      | Second         | Third      | Fourth
1930 | Uruguay     | Uruguay    | Argentina      | USA        | Yugoslavia
1934 | Italy       | Italy      | Czechoslovakia | Germany    | Austria
1938 | France      | Italy      | Hungary        | Brazil     | Sweden
1950 | Brazil      | Uruguay    | Brazil         | Sweden     | Spain
1954 | Switzerland | Germany FR | Hungary        | Austria    | Uruguay
1958 | Sweden      | Brazil     | Sweden         | France     | Germany FR
1962 | Chile       | Brazil     | Czechoslovakia | Chile      | Yugoslavia
1966 | England     | England    | Germany FR     | Portugal   | Soviet Union
1970 | Mexico      | Brazil     | Italy          | Germany FR | Uruguay
1974 | Germany     | Germany FR | Netherlands    | Poland     | Brazil
... (11 rows omitted)

In [15]:
#_ = ok.grade('q2_1')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 2.** Using `.group()`, identify which country won the most number of World Cups from 1930 to 2018. Assign your answer to `most_wins`.

In [44]:
most_wins = world_cups.group('First').sort('count', descending=True).column('First')[0]
most_wins

'Brazil'

In [21]:
#_ = ok.grade('q2_2')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

The World Cup champions' curse is a historical phenomenon in which the defending champion of one World Cup tends to perform poorly on the next World Cup. For example, after winning the 2014 World Cup, Germany failed to even advance to the knockout stage (top 16 teams) of the 2018 World Cup, losing to Mexico and South Korea in the group stage.

We'll explore a simplified version of the World Cup champions' curse in which we'll see whether the defending champion of one World Cup was able to advance to the semifinals (top 4 teams) of the next World Cup.

**Question 3.** Add a column named `Defending Champion` to `world_cups`, containing the names of the defending champions for each year. We define the defending champion to be the country who won the previous World Cup. For example, since Germany won the 2014 World Cup, Germany was the defending champion for the 2018 World Cup. Since France won the 2018 World Cup, France is the defending champion for the 2022 World Cup (excluded from our data set).

Note that the 1930 row will not have a defending champion, since our data set doesn't include the winner of the 1926 World Cup. Simply remove this row after extracting the defending champion for the 1934 World Cup. `world_cups` will contain one less row after this process.

In [33]:
all_but_last = world_cups.take(np.arange(0, world_cups.num_rows - 1))
all_but_first = world_cups.take(np.arange(1, world_cups.num_rows))

world_cups = all_but_first.with_column(
    'Defending Champion',
    all_but_last.column('First')
)
world_cups

Year | Country     | First      | Second         | Third      | Fourth       | Defending Champion
1934 | Italy       | Italy      | Czechoslovakia | Germany    | Austria      | Uruguay
1938 | France      | Italy      | Hungary        | Brazil     | Sweden       | Italy
1950 | Brazil      | Uruguay    | Brazil         | Sweden     | Spain        | Italy
1954 | Switzerland | Germany FR | Hungary        | Austria    | Uruguay      | Uruguay
1958 | Sweden      | Brazil     | Sweden         | France     | Germany FR   | Germany FR
1962 | Chile       | Brazil     | Czechoslovakia | Chile      | Yugoslavia   | Brazil
1966 | England     | England    | Germany FR     | Portugal   | Soviet Union | Brazil
1970 | Mexico      | Brazil     | Italy          | Germany FR | Uruguay      | England
1974 | Germany     | Germany FR | Netherlands    | Poland     | Brazil       | Brazil
1978 | Argentina   | Argentina  | Netherlands    | Brazil     | Italy        | Germany FR
... (10 rows omitted)

In [23]:
#_ = ok.grade('q2_3')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

## Answer offered for wi19

**Question 4.** The next step is to check whether the defending champion was able to advance to the semifinals. First, define a function named `final_four` that takes as input four countries (as strings) and returns a single *list* containing the four countries as elements.

*Hint:* You can create a list using [ ]. For example, list = ['one', 'two', 'three']. The body of the function should be one line of code.

In [34]:
def final_four(first, second, third, fourth):
    return [first, second, third, fourth]

In [25]:
#_ = ok.grade('q2_4')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 5.** Using your `final_four` function, add a column named `Final Four` to `world_cups`, containing lists of the semifinalists for each World Cup.

In [35]:
world_cups = world_cups.with_column('Final Four', world_cups.apply(final_four, 'First', 'Second', 'Third', 'Fourth'))
world_cups

Year | Country     | First      | Second         | Third      | Fourth       | Defending Champion | Final Four
1934 | Italy       | Italy      | Czechoslovakia | Germany    | Austria      | Uruguay            | ['Italy' 'Czechoslovakia' 'Germany' 'Austria']
1938 | France      | Italy      | Hungary        | Brazil     | Sweden       | Italy              | ['Italy' 'Hungary' 'Brazil' 'Sweden']
1950 | Brazil      | Uruguay    | Brazil         | Sweden     | Spain        | Italy              | ['Uruguay' 'Brazil' 'Sweden' 'Spain']
1954 | Switzerland | Germany FR | Hungary        | Austria    | Uruguay      | Uruguay            | ['Germany FR' 'Hungary' 'Austria' 'Uruguay']
1958 | Sweden      | Brazil     | Sweden         | France     | Germany FR   | Germany FR         | ['Brazil' 'Sweden' 'France' 'Germany FR']
1962 | Chile       | Brazil     | Czechoslovakia | Chile      | Yugoslavia   | Brazil             | ['Brazil' 'Czechoslovakia' 'Chile' 'Yugoslavia']
1966 | England     | England    | Germany FR     | Portugal   | Soviet Union | Brazil             | ['England' 'Germany FR' 'Portugal' 'Soviet Union']
1970 | Mexico      | Brazil     | Italy          | Germany FR | Uruguay      | England            | ['Brazil' 'Italy' 'Germany FR' 'Uruguay']
1974 | Germany     | Germany FR | Netherlands    | Poland     | Brazil       | Brazil             | ['Germany FR' 'Netherlands' 'Poland' 'Brazil']
1978 | Argentina   | Argentina  | Netherlands    | Brazil     | Italy        | Germany FR         | ['Argentina' 'Netherlands' 'Brazil' 'Italy']
... (10 rows omitted)

In [27]:
#_ = ok.grade('q2_5')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 6.** Now, define a function named `in_final_four` that takes as input the defending champion and a list of the four semifinalists and returns `True` if the defending champion is included in the set of semifinalists and `False` otherwise.

*Hint:* You can use the Python `in` keyword to check if something is in a list. For example, `3 in [1, 2, 3]` evaluates to `True`. The body of your function should be one line of code.

In [39]:
def in_final_four(defending_champion, final_four):
    return defending_champion in final_four

In [29]:
#_ = ok.grade('q2_6')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 7.** Using your `in_final_four` function, add a column named `Defending Champion in Final Four` to `world_cups`, indicating whether a defending champion advanced to the semifinals.

In [40]:
world_cups = world_cups.with_column('Defending Champion in Final Four', world_cups.apply(in_final_four, 'Defending Champion', 'Final Four'))
world_cups.show(20)

In [31]:
#_ = ok.grade('q2_7')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

**Question 8.** How often did the defending champion advance to the semifinals in the World Cups from 1934 to 2018? Assign a proportion, ranging from 0 to 1, to `semifinalist_frequency`

In [42]:
semfinalist_frequency = world_cups.where('Defending Champion in Final Four', True).num_rows / world_cups.num_rows
semfinalist_frequency

0.35

In [33]:
#_ = ok.grade('q2_8')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

## Question 9 deleted for hw04 wi19

**Question 9.** When was the most recent year where the defending champion managed to advance to the semifinals? Assign this year to `most_recent_year`. No code is needed; only the answer.

In [34]:
most_recent_year = 1998

In [35]:
#_ = ok.grade('q2_9')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

## 3. DSC 10 Midterm

Level of preparedness can be a decent predictor for how well you perform on an exam, like the midterm you have.

**Question 1.** Write a function named `pass_midterm` that takes in boolean variables as input and returns `True` if you will pass the midterm and `False` if you will fail. The function should obey the following logic:

* Didn't attend class → Fail
* Didn't do homeworks and didn't attend tutor hours → Fail
* Didn't do labs and didn't attend discussion sessions → Fail
* Has questions and didn't go to tutor hours nor review session → Fail
* All-nighter before final AND didn't attend review session → Fail
* All other situations → Pass

In [25]:
def pass_midterm(attend_class, do_hw, do_lab, attend_review, disc_session, has_questions, tutor_hours, all_nighter):
    # example
    if not attend_class:
        return False
    if not do_hw and not tutor_hours:
        return False
    if not do_lab and not disc_session:
        return False
    if has_questions:
        if not tutor_hours or not attend_review:
            return False
    if all_nighter and not attend_review:
        return False
    return True


# Test your function
pass_midterm(True, True, True, False, False, False, True, False) # should return True
# If you'd like, you can write more of your own tests to test your function

True

In [24]:
pass_midterm(True, True, False, False, True, True, True, False)

False

In [28]:
pass_midterm(True, False, True, True, False, True, True, True)

True

In [56]:
#_ = ok.grade('q3_1')

Assume the midterms have been graded. Let's assign a letter grade to each midterm score. The below code generates 300 random midterm scores ranging from 45 to 100.

In [13]:
# Don't change this cell; just run it
np.random.seed(0)
midterm_scores = np.random.choice(range(45,101), 300)
print(midterm_scores)

[ 89  92  98  45  48  48  84  54  64  66  95  81  68  51  69  69  57  46
  83  84  68  91  69  62  82  70  58  53  54  65  96  61  96  50  60  92
  45  63  80  69  94  96  74  64  64  59  84  77  46  54  77  76  55  97
  68  80  56  95 100  73  79  45  45  81  98  50  83  85  97  62  60  49
  86  87  76  46  46  84  86  80  83 100  56  91  63  72  45  59  80  98
  57  87  65  56  49  51  49  92  97  48  57  81  97  85  59  60  65  80
  68  60  58  98  66  93  94  50  86  80  45  76  50  75  45  94  95  81
  79  93  74  48  79  87  58  93  84  66  54  45  55  95  88  68  47  79
  80  75  48  63  91  80  65  62  95  72  59  86  46  81  55  67  88  85
  56  47  96  61  77  99  45  83  64  91  87  96  85  58  75  69  47  48
  75  79  88  58  93  85  53  64  76  53  71  47  97  48  89  59  77  49
  48  90  56  67  58  90  56  61  69  74  66  91  70  61  99  98  64  78
  85  77  81  51  66  76  58  52  69  60  86  63  85  99  60  56  83  92
  74  46  76  99  89  69  69  48  63  92  48  87  57  83  80  67  50  68
  88  77  56  85  65  55  99  88  82  73  92  85  47  72  64  70  68  98
  96  91  65  98  74  48  80  84  54  54  86  68  48  91  71  95  89  48
  76  54  55  72  90  52  84  66  78  89  79  79]

**Question 2.** Use a [for loop](https://ucsd-ets.github.io/dsc10-fa18-textbook/chapters/09/2/Iteration) to iterate through `midterm_scores` from beginning to end. For each score, append a letter grade (as a string) to an array, `grades`, according to the below grading scheme: (Modeled after grade schools in British Columbia)
* Greater than or equal to 86, less than or equal to 100: 'A'
* Greater than or equal to 73, less than 86: 'B'
* Greater than or equal to 67, less than 73: 'C+'
* Greater than or equal to 60, less than 67: 'C'
* Greater than or equal to 50, less than 60: 'C-'
* Less than 50: 'F'

In [14]:
grades = make_array()

# Write your for loop here
for score in midterm_scores:
    if score >= 86:
        grades = np.append(grades, "A")
    elif score >= 73 and score < 86:
        grades = np.append(grades, "B")
    elif score >= 67 and score < 73:
        grades = np.append(grades, "C+")
    elif score >= 60 and score < 67:
        grades = np.append(grades, "C")
    elif score >= 50 and score < 60:
        grades = np.append(grades, "C-")
    else:
        grades = np.append(grades, "F")
        
print(grades)  # Print the result

['A' 'A' 'A' 'F' 'F' 'F' 'B' 'C-' 'C' 'C' 'A' 'B' 'C+' 'C-' 'C+' 'C+' 'C-'
 'F' 'B' 'B' 'C+' 'A' 'C+' 'C' 'B' 'C+' 'C-' 'C-' 'C-' 'C' 'A' 'C' 'A'
 'C-' 'C' 'A' 'F' 'C' 'B' 'C+' 'A' 'A' 'B' 'C' 'C' 'C-' 'B' 'B' 'F' 'C-'
 'B' 'B' 'C-' 'A' 'C+' 'B' 'C-' 'A' 'A' 'B' 'B' 'F' 'F' 'B' 'A' 'C-' 'B'
 'B' 'A' 'C' 'C' 'F' 'A' 'A' 'B' 'F' 'F' 'B' 'A' 'B' 'B' 'A' 'C-' 'A' 'C'
 'C+' 'F' 'C-' 'B' 'A' 'C-' 'A' 'C' 'C-' 'F' 'C-' 'F' 'A' 'A' 'F' 'C-' 'B'
 'A' 'B' 'C-' 'C' 'C' 'B' 'C+' 'C' 'C-' 'A' 'C' 'A' 'A' 'C-' 'A' 'B' 'F'
 'B' 'C-' 'B' 'F' 'A' 'A' 'B' 'B' 'A' 'B' 'F' 'B' 'A' 'C-' 'A' 'B' 'C'
 'C-' 'F' 'C-' 'A' 'A' 'C+' 'F' 'B' 'B' 'B' 'F' 'C' 'A' 'B' 'C' 'C' 'A'
 'C+' 'C-' 'A' 'F' 'B' 'C-' 'C+' 'A' 'B' 'C-' 'F' 'A' 'C' 'B' 'A' 'F' 'B'
 'C' 'A' 'A' 'A' 'B' 'C-' 'B' 'C+' 'F' 'F' 'B' 'B' 'A' 'C-' 'A' 'B' 'C-'
 'C' 'B' 'C-' 'C+' 'F' 'A' 'F' 'A' 'C-' 'B' 'F' 'F' 'A' 'C-' 'C+' 'C-' 'A'
 'C-' 'C' 'C+' 'B' 'C' 'A' 'C+' 'C' 'A' 'A' 'C' 'B' 'B' 'B' 'B' 'C-' 'C'
 'B' 'C-' 'C-' 'C+' 'C' 'A' 'C' 'B' 'A' 'C' 'C-' 'B' 'A' 'B' 'F' 'B' 'A'
 'A' 'C+' 'C+' 'F' 'C' 'A' 'F' 'A' 'C-' 'B' 'B' 'C+' 'C-' 'C+' 'A' 'B'
 'C-' 'B' 'C' 'C-' 'A' 'A' 'B' 'B' 'A' 'B' 'F' 'C+' 'C' 'C+' 'C+' 'A' 'A'
 'A' 'C' 'A' 'B' 'F' 'B' 'B' 'C-' 'C-' 'A' 'C+' 'F' 'A' 'C+' 'A' 'A' 'F'
 'B' 'C-' 'C-' 'C+' 'A' 'C-' 'B' 'C' 'B' 'A' 'B' 'B']

In [18]:
np.count_nonzero(grades == "B")

73

In [40]:
#_ = ok.grade('q3_2')

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

## Submit

To submit:

1. Select `Run All` from the `Cell` menu to ensure that you have executed all cells, including the test cells.
3. Read through the notebook to make sure everything is fine.
4. Submit using the cell below.

In [41]:
# For your convenience, you can run this cell to run all the tests at once!
import os
_ = [ok.grade(q[:-3]) for q in os.listdir('tests') if q.startswith('q')]

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Running tests

---------------------------------------------------------------------
Test summary
    Passed: 1
    Failed: 0
[ooooooooook] 100.0% passed

In [42]:
_ = ok.submit()

Saving notebook... Could not save your notebook. Make sure your notebook is saved before sending it to OK!
Submit... 100% complete
Submission successful for user: dhl011@ucsd.edu
URL: https://okpy.org/ucsd/dsc10/fa18/hw04/submissions/JqMq1P